.header
  .title
    %a{:title => "Professor Bingo", :id => "ProfBingo", :href => "/"} Professor Bingo!
  .login_info
    - if session[:user]
      = "Welcome " + session[:user].email
      %a{:title => "Logout", :id => "Logout", :href => "/logout/"} Logout
      - if session[:user].admin?
        %a{:title => "Control Panel", :id => "ControlPanel", :href => "/controlpanel/"} Control Panel
    - else
      %a{:title => "Register", :id => "Register", :href => "/register/"} Register
      %br
      %a{:title => "Login", :id => "Login", :href => "/login/"} Login
  .clear_both
  .main_nav
    %a{:title => "Home", :id => "Home", :href => "/"} Home
    = " - "
    %a{:title => "PlayBingo", :id => "PlayBingo", :href => "/play"} Play Bingo
    = " - "
    %a{:title => "AddProfessor", :id => "AddProfessor", :href => "/professor/add"} Add Professor
    = " - "
    %a{:title => "AddMannerism", :id => "AddMannerism", :href => "/mannerism/add"} Add Mannerism
    = " - "
    %a{:title => "ManageAccount", :id => "ManageAccount", :href => "/manage"} Manage Account
  - if session[:message]
    .message
      =session[:message]
      -session[:message] = nil
